<div id=adminPan ng-controller="AdminController">

    <div class='row' ng-if='!admin'>
        <input id=adminpw type="password" ng-model=pass ng-change="checkAdmin(pass)">
    </div>

    <div id=lobbyInfo class='row' ng-if='admin'>
        <div class='three columns'>
            <div id=lobbyListBox class="row">
                <h1 style="text-align: center;">Lobbies</h1>
                <button id=adminPrint ng-click=print()>Print</button>
                <button id=adminRef ng-click=refresh()>Refresh</button>
                <ul id='lobbyList'>
                    <li class='lobbyID row' ng-repeat='lobby in lobbies' ng-click='showInfo(this)'>{{lobby.dispName}} ({{lobby.users.length}})</li>
                </ul>
            </div>
            <div id=adminLeftBtns>
                <button id=adminHome ng-click=join('')>Home</button>
                <input id=adminLobbyInput type="text" placeholder='Lobby ID' ng-model=newLobbyId>
                <button id=adminCreate ng-click=createLobby(newLobbyId)>Create Lobby</button>
            </div>
        </div>
        <div id=adminInfoBox class='eight columns' ng-show=clicked>
            <div id=adminBoard class='row'>
                <canvas id=adminCanv></canvas>
            </div>
            <div class='row'>
                <div id=adminChat class='eight columns'></div>
                <div id=adminAction class='four columns'>
                    <span id=adminID>Lobby: {{lobbyID.substring(0,11)}}</span>
                    <button id=adminJoin ng-click=join(lobbyID)>Join Lobby</button>
                    <button id=adminDelete ng-click=delete(lobbyID)>Delete Lobby</button>
                </div>
            </div>
        </div>
    </div>

</div>
