<div id=adminPan ng-controller="AdminController">

    <div class='row' ng-if='!admin'>
        <input id=adminpw type="password" ng-model=pass ng-change="checkAdmin(pass)">
    </div>

    <div id=lobbyInfo class='row' ng-if='admin'>
        <div id=lobbyListBox class='two columns offset-by-one'>
            <h1>Lobbies:</h1>
            <button id=adminPrint ng-click=print()>Print</button>
            <ul id='lobbyList'>
                <li class='lobbyID row' ng-repeat='lobby in lobbies' ng-click='showInfo(this)'>{{lobby.id}} ({{lobby.users.length}})</li>
            </ul>
        </div>
        <div id=adminInfoBox class='eight columns offset-by-one' ng-show=clicked>
            <div id=adminBoard class='row'>
                <canvas id=adminCanv></canvas>
            </div>
            <div class='row'>
                <div id=adminChat class='eight columns'></div>
                <div id=adminAction class='four columns'>
                    <button id=adminJoin ng-click=join(lobbyID)>Join Lobby</button>
                    <button id=adminDelete ng-click=delete(lobbyID)>Delete Lobby</button>
                </div>
            </div>
        </div>
    </div>

</div>
