<div class="draw" ng-controller="DrawController">

        <canvas id=drawing></canvas>

    <div id="smalltext" hidden=true>
        <input id='ptextinput' type="text" placeholder='Simple text...'>
    </div>
    <div id="largetext" hidden=true>
        <textarea id='ctextinput' placeholder='Enter code...'></textarea>
    </div>

    <div id="rightmenu" hidden=true>

        <div class="columns three">
            <div class="columns twelve">
                <img id=painticon src="./img/paintcolor.png" alt="Color">
            </div>
            <div class="columns twelve">
                <button id=color1><span class=coloricon>●</span></button>
            </div>
            <div class="columns twelve">
                <button id=color2><span class=coloricon>●</span></button>
            </div>
            <div class="columns twelve">
                <button id=color3><span class=coloricon>●</span></button>
            </div>
            <div class="columns twelve">
                <button id=color4><span class=coloricon>●</span></button>
            </div>
            <div class="columns twelve">
                <button id=color5><span class=coloricon>●</span></button>
            </div>

        </div>

        <div class="columns three">

            <div class="columns twelve">
                <i id=brushicon class="fa fa-paint-brush" aria-hidden="true"></i>
            </div>

            <div class="columns twelve">
                <button id=width1>|</button>
            </div>
            <div class="columns twelve">
                <button id=width2>|</button>
            </div>
            <div class="columns twelve">
                <button id=width3>|</button>
            </div>
        </div>

        <div class="columns three">
            <div class="columns twelve">
                <i id=erasericon class="fa fa-eraser" aria-hidden="true"></i>
            </div>
            <div class="columns twelve">
                <button id=eraser><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
            <div class="columns twelve">
                <button id=resetbtn>Clear</button>
            </div>
        </div>

        <div class="columns three">
            <div class="columns twelve">Text</div>
            <div class="columns twelve">
                <button id="simpText">ABC</button>
            </div>
            <div class="columns twelve">
                <button id="bigText">(){};</button>
            </div>
        </div>

    </div>   <!-- End of right menu div -->
</div>
<div class=" chat" ng-controller="ChatController">
    <div class="row title" ng-click="toggleChat()">
        <div class="columns four">
            Chatbox
        </div>
        <div class="columns one">Lobby: </div>
        <div class="columns four"><span ng-bind="lobby"></span></div>
        <div class="columns three toggleButton"><div><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></div></div>
    </div>
    <div class="row chatRow">
        <div class="columns twelve chatCol top"></div>
    </div>
    <div class="row chatInputRow">
        <div class="columns twelve chatInputCol">
            <form class="chatForm">
                <textarea ng-model="chatbox" class="chatTextArea"></textarea>
            </form>
        </div>
    </div>
    <div class="cover">
        Please enter a name
        <form>
            <input type="text" ng-model="displayName" class="chatDisplayName">
            <input type="submit" ng-click="setName()">
        </form>
    </div>
</div>
