<div id=drawview class="draw" ng-controller="DrawController">

    <div id="rightmenu" hidden=true>
        <nav id="topNav">
            <ul>

                <li class=mainitem> <!--- toolbar item 1 --->
                    <img id=painticon src="./img/paintcolor.png" alt="Color">
                    <ul class=dropitem>
                        <li>
                            <button id=color1><span class=coloricon>●</span></button>
                        </li>
                        <li>
                            <button id=color2><span class=coloricon>●</span></button>
                        </li>
                        <li>
                            <button id=color3><span class=coloricon>●</span></button>
                        </li>
                        <li>
                            <button id=color4><span class=coloricon>●</span></button>
                        </li>
                        <li>
                            <button id=color5><span class=coloricon>●</span></button>
                        </li>
                    </ul>
                </li> <!--- end of item 1 --->

                <li class=mainitem>
                    <i id=brushicon class="fa fa-paint-brush" aria-hidden="true"></i>
                    <ul class=dropitem>
                        <li>
                            <button id=width1>|</button>
                        </li>
                        <li>
                            <button id=width2>|</button>
                        </li>
                        <li>
                            <button id=width3>|</button>
                        </li>
                    </ul>
                </li>

                <li class=mainitem>
                    <img id=erasericon src="./img/eraser.png" alt="Eraser" />
                    <ul class=dropitem>
                        <li>
                            <button id=eraser><img src="./img/eraser2.png" alt="Eraser2" /></button>
                        </li>
                        <li>
                            <button id=resetbtn><img src="./img/whiteboard.png" alt="Whiteboard" /></button>
                        </li>
                    </ul>
                </li>

                <li class=mainitem>
                    <i id=texticon class="fa fa-lg fa-keyboard-o" aria-hidden="true"></i>
                    <ul class=dropitem>
                        <li>
                            <button id="simpText">ABC</button>
                        </li>
                        <li>
                            <button id="bigText"><i id=codeicon class="fa fa-lg fa-code" aria-hidden="true"></i></button>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>

        <canvas id=drawing></canvas>

    <!-- <div id="zoombtns">
        <button id=zoomin>+</button>
        <button id=zoomout>-</button>
    </div> -->

    <div id="smalltext" hidden=true>
        <input id='ptextinput' type="text" placeholder='Simple text...' autocomplete='off' spellcheck='false' autocorrect='off'>
    </div>
    <div id="largetext" hidden=true>
        <textarea id='ctextinput' placeholder='Enter code...' autocomplete='off' spellcheck='false' autocorrect='off'></textarea>
    </div>

</div>


<div class="codeEdit" ng-controller="CodeController">
    <div class="codeEditor">
        <div class="row">
            <div class="columns twelve">
                <h1>
                    <i class="fa fa-code" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <textarea name="CETA" class="CETA"></textarea>
            </div>
        </div>
    </div>

    <div class="CEResize"></div>
</div>
<div class="chat" ng-controller="ChatController">

    <div class="row title" ng-click="toggleChat()">
        <div class="columns three"><b>Menu</b></div>
        <div class="columns two"><b>Chatbox</b></div>
        <div class="columns one"><b>Lobby:</b></div>
        <div class="columns five" ng-bind="lobby"></div>
        <div class="columns one toggleButton"><div><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></div></div>
    </div>
    <div class="row">
        <div class="columns two menu">
            <div class="row">
                <div class="columns twelve">
                    <ul class="menuButtons">
                        <li><a href="/">Home</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns ten">
            <!-- <div class="row title" ng-click="toggleChat()">
                <div class="columns two">
                    <b>Chatbox</b>
                </div>
                <div class="columns one"><b>Lobby:</b> </div>
                <div class="columns six"><span ng-bind="lobby"></span></div>
                <div class="columns three toggleButton"><div><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></div></div>
            </div> -->
            <div class="row chatRow">
                <div class="columns twelve chatCol top"></div>
            </div>
            <div class="row chatInputRow">
                <div class="columns twelve chatInputCol">
                    <form class="chatForm">
                        <textarea ng-model="chatbox" class="chatTextArea"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="cover">
        Please enter a name
        <form>
            <input type="text" ng-model="displayName" class="chatDisplayName">
            <input type="submit" ng-click="setName()">
        </form>
    </div>





</div>
