<div class="draw" ng-controller="DrawController">
    <canvas id=drawing></canvas>

    <div class="row">
        <div class="columns two">
            <button id=color1>Blue</button>
        </div>
        <div class="columns two">
            <button id=color2>Red</button>
        </div>
        <div class="columns two">
            <button id=color3>Green</button>
        </div>
        <div class="columns two">
            <button id=color4>Yellow</button>
        </div>
        <div class="columns two">
            <button id=color5>Black</button>
        </div>

        <div class="columns two">
            <button id=resetbtn>Clear</button>
        </div>
    </div>
    <div class="row">
        <div class="columns two">
            <button id=width1>|</button>
        </div>
        <div class="columns two">
            <button id=width2>||</button>
        </div>
        <div class="columns two">
            <button id=width3>|||</button>
        </div>
    </div>
</div>
