<div class="draw" ng-controller="DrawController">
    <canvas id=drawing></canvas>

    <div class="row">
        <button id=color1>Blue</button>
        <button id=color2>Red</button>
        <button id=color3>Green</button>
        <button id=color4>Yellow</button>
        <button id=color5>Black</button>

        <button id=resetbtn>Clear</button>
    </div>
    <div class="row">
        <button id=width1>|</button>
        <button id=width2>||</button>
        <button id=width3>|||</button>
    </div>
</div>
