<div class="container lobby" ng-controller="LobbyController">

    <canvas class='bgAnim' id='null'></canvas>

    <div class="row">
        <div class="columns four offset-by-four">
            <h1 id=projname>CodeBoard</h1>
        </div>
    </div>
    <div class="row option">
        <div class="columns two offset-by-four createCol">
            <input id=createbtn type="submit" value="Create" ng-click="createLobby()" class="createButton">
        </div>
        <div class="columns two joinCol" id=joinrmbox>
            <div class="row">
                <div class="columns twelve">
                    <input type="text" placeholder="Lobby ID" class="lobbyName lobbyInput" ng-model="lobbyName">
                </div>
            </div>
            <div class="row">
                <div class="columns twelve">
                    <input type="submit" value="Join" ng-click="joinLobby()" class="joinButton">
                </div>
            </div>
        </div>
    </div>

    <div id='nameDiv'>
        <h6 style='margin-bottom: 0px; font-size: 0.8em'>Created By</h6>
        <h6 style='margin-bottom: 0px; font-size: 0.8em'><a href='http://howardjiang.com' target='_blank' style='text-decoration: none'>Howard Jiang</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href='http://vkutuyev.com' target='_blank' style='text-decoration: none'>Vadim Kutuyev</h6>
    </div>

    <!-- Background scripts -->
    <script type='text/paperscript' src='./js/background.js'></script>
    <script src="./js/paper-full.min.js"></script>

</div>
