<div id=lobbyDiv class="container lobby" ng-controller="LobbyController">

    <!-- Whiteboard canvases -->
    <canvas id='drawBoard' />
    <canvas id='tmp_canvas' oncontextmenu="return false"/>

    <!-- Menu hamburger -->
    <i id=menuHam class="fa fa-2x fa-bars" aria-hidden="true"/>

    <!-- Tutorial pop-ups -->
    <div id="scrollPop">Hold Shift or right-click, then drag to extend canvas <i class="fa fa-arrows-alt" aria-hidden="true"></i></div>

    <!-- Notifications -->
    <div id=notifDiv><span id=notifSpan>{{notification}}<span></div>

    <!-- Sidebar -->
    <div id="sidebar" style='padding-left: 15px;'>
        <div id="sideBorder"></div>
        <h1 ng-if="!currentLobby">Offline</h1>
        <h1 ng-bind="currentLobby"></h1>
        <p ng-bind='join_lobby_error'></p>

        <input type="text" ng-model="lobby_name" placeholder='Create Lobby'><br>
        <button id="saveLobbyTest" style="width: 50px; height: 50px; background: steelblue; top: 200px; left: 500px;" ng-click="createLobby('save')">Save</button>
        <button id="createLobbyTest" style="width: 50px; height: 50px; background: red; top: 200px; left: 450px;" ng-click="createLobby()">Create</button><br><br>
        <input type="text" ng-model="join_lobby" placeholder='Join Lobby'><br>
        <button id="joinLobbyTest" style="width: 50px; height: 50px; background: green; top: 250px; left: 450px;" ng-click="joinLobby()">Join</button>
        <br>
        <br>
        <br>
        <br>
        <button ng-click=saveCanvas()>SAVE</button>
        <br>
        <br>
        <input id=canvFile type="file" />
        <div id=fileDrop style='height: 100px; width: 100px; background: blue; color: white;'>Drop Here</div>
        <button ng-click=loadCanvas()>LOAD</button>

    </div>


    <div id="pickerDiv">
        <div id="colorPicker"></div>
    </div>

    <!-- Temp toolbar -->
    <div id="tools" style="position: absolute; top: 200px; left: 90%;">
        <form><input type="text" id="color" name="color" ng-model='strokeStyle' /></form>
        <span style='color: white; font-size 16px; text-decoration: underline;'>Size</span><br><br>
        <input id=sizeSlide type="range" min=1 max=20 ng-model=lineWidth style='width: 50%;'/><br>
        <input id=sizeBox type='text' ng-model=lineWidth value=lineWidth style='font-size: 16px; width: 35px;' />
        <br><br>
        <span style='color: white; font-size 16px; text-decoration: underline;'>Shapes</span><br>
        <button ng-click="setShape('rectF')">Filled Rect.</button><br>
        <button ng-click="setShape('rectH')">Hollow Rect.</button><br>
        <button ng-click="setShape('circF')">Filled Circ.</button><br>
        <button ng-click="setShape('circH')">Hollow Circ.</button><br>
        <br>
        <span style='color: white; font-size 16px; text-decoration: underline;'>Misc</span><br>
        <button ng-click="strokeStyle='#000000'">Eraser</button><br>
        <button ng-click=clearCanvas()>Clear</button><br>
        <br>
        <input type="text" ng-model=notifMsg /><br>
        <button ng-click="showNotification(notifMsg, 'good')">Good</button><br>
        <button ng-click="showNotification(notifMsg, 'neut')" >Neut</button><br>
        <button ng-click="showNotification(notifMsg, 'bad')" >Bad</button><br>
    </div>

</div>
