<div id=lobbyDiv class="container lobby" ng-controller="LobbyController">
    <input type="text" style="position: fixed; top: 200px; left: 200px;" ng-model="lobby_name">
    <div id="createLobbyTest" style="position: fixed; width: 50px; height: 50px; background: blue; top: 300px; left: 300px;" ng-click="createLobby()"></div>

    <!--- Whiteboard canvas --->
    <canvas id='drawBoard' />

    <!-- Menu hamburger -->
    <i id=menuHam class="fa fa-2x fa-bars" aria-hidden="true" ng-click="menuClicked(showMenu)"/>

    <!-- Tutorial pop-ups -->
    <div id="scrollPop">Scroll or Shift+Drag left/right to extend canvas.</div>

    <!-- Sidebar -->
    <div id="sidebar">
        Test
    </div>

</div>
