.chat_enter_name input{
    width: 100%;
    vertical-align: top;
}
    .chat_enter_name input:focus {
        outline: none;
    }
div.chat_enter_name input.chat_enter_name_input {
    padding: 1em 0;
    padding-left: 1em;
    border-radius: 5px;
}
.chat_people {
    position: relative;
}
.chat_people:hover .chat_people_text {
    visibility: visible;
}
.chat_people_text {
    margin-left: -100%;
    visibility: hidden;
    width: 120px;
    background-color: rgb(198, 198, 198);
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 4px black;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.chat_input {
    position: absolute;
    bottom: 15px;
}
.chat_input textarea {
    border-color: rgb(176, 176, 176);
    /*border-radius: 5px;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em;
    width: calc(100% - 40px) !important;
}
    .chat_input textarea:focus {
        outline: none;
    }
.chat_input ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    .chat_input ul li {
        display: inline;
    }
.chat_file_select {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 40px;
    border: 1px solid rgb(176, 176, 176);
    border-left-width: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
    .chat_file_select:hover {
        color: white;
        background: rgb(198, 198, 198);
    }
    .chat_file_select i {
        vertical-align: middle;
        margin: 0 auto;
        line-height: 54px;
    }
#chat_file_div {
    position: absolute;
    bottom: 80px;
    right: 15px;
    width: 5px;
    height: 5px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    padding: 10px;
}
    #chat_file_head {
        margin-top: 0;
        text-align: center;
        text-decoration: underline;
    }
    .chat_file span {
        margin: 0 0 0 10px;
        display: block;
        text-align: center;
    }
    .chat_file input {
        display: none;
    }
    .chat_file label {
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        margin: 5% 10% 0px 10%;
        height: 35px;
        line-height: 35px;
        border: 1px solid rgb(176, 176, 176);
        border-radius: 5px;
        width: 80%;
    }
        .chat_file label:hover {
            color: white;
            background: rgb(198, 198, 198);
        }
#chat_file_info {

}
    #chat_file_info table {
        width: 100%;
        text-align: center;
    }
        .chat_file_table_head_name {
            width: 75%;
            text-align: center;
        }
        .chat_file_table_head_size {
            width: 25%;
            text-align: center;
        }
    #chat_file_info button {
        color: black;
        background: white;
        border: 1px solid rgb(176, 176, 176);
        border-radius: 5px;
        width: 35%;
        margin-top: 25px;
        margin-left: 10%;
        outline: none;
    }
        #chat_file_info button:hover {
            color: white;
            background: rgb(198, 198, 198);
        }
.chat_message_show {
    overflow-y: scroll;
    padding: 1em 2em 2em;
}
.chatName {
    color: black;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 2px;
    background: rgba(138, 125, 139, 0.5);
}
    .chatName span {
        padding: 3px 10px;
    }
.chatTime {
    display: inline-block;
    width: 35px;
    color: rgb(198, 198, 198);
    vertical-align: top;
}
.chatMsg {
    display: inline-block;
    width: calc(100% - 40px);
    white-space: pre-wrap;
    word-wrap: break-word;
}
