.chat_enter_name input{
    width: 100%;
    vertical-align: top;
}
    .chat_enter_name input:focus {
        outline: none;
    }
div.chat_enter_name input.chat_enter_name_input {
    padding: 1em 0;
    padding-left: 1em;
    border-radius: 5px;
}
.chat_people {
    position: relative;
}
.chat_people:hover .chat_people_text {
    visibility: visible;
}
.chat_people_text {
    margin-left: -100%;
    visibility: hidden;
    width: 120px;
    background-color: rgb(198, 198, 198);
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 4px black;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.chat_input {
    position: absolute;
    bottom: 2em;
}
.chat_input textarea {
    border-color: rgb(176, 176, 176);
    border-radius: 5px;
    padding: 0.5em;
}
    .chat_input textarea:focus {
        outline: none;
    }
.chat_message_show {
    overflow-y: scroll;
    padding: 1em 2em 2em;
}
.chatName {
    color: black;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 2px;
    background: rgba(75, 135, 168, 0.2);
}
    .chatName span {
        padding: 3px 10px;
    }
.chatTime {
    display: inline-block;
    width: 35px;
    color: rgb(198, 198, 198);
    vertical-align: top;
}
.chatMsg {
    display: inline-block;
    width: calc(100% - 40px);
    white-space: pre-wrap;
    word-wrap: break-word;
}
