div.codeEdit div.CEResize {
    background: transparent;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    position:absolute;
}
div.codeEdit div.hide:hover {
    color: rgb(124, 124, 124);
    cursor: pointer;
}
div.codeEdit div.CEResize:hover {
    cursor: col-resize;
}
div.codeEdit {
    top: 0px;
    right: 0px;
    width: 450px;
    background: white;
    position: fixed;
    opacity: 0.90;
}
div.codeEdit div.codeEditor {
    top: 0px;
    right: 0px;
    background: white;
    opacity: 0.9;
    border: 1px solid rgba(152,152,152,0.9);
    padding: 1em;
    overflow: hidden;
}

div.codeEdit div.codeEditor h1{
    text-align:center;
}
div.codeEdit textarea.CETA {
    border: none;
    resize: none;
    background: black;
    color: white;
    height: 90%;
    font-family: monospace;
    font-size: 1.1em;
}
