
.menu_buttons, .menu_inputs{
    border-radius: 3px;
    background: white;
    border: 1px solid rgb(168, 168, 168);
    width: 100%;
    padding: 1em 1em;
    margin-bottom: 0.5em;
}
.menu_buttons:hover {
    background: rgb(198, 198, 198);
    color: white;
    border-color: white;
}

.menu_buttons:focus, .menu_inputs:focus {
    outline: none;
}
