.lobby {
    overflow: scroll;
    width: 105vw;
    height: 105vh;
}

#scrollPop {
    position: absolute;
    bottom: 5px;
    height: 25px;
    width: 300px;
    z-index: -10;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    /* Slide Animation */
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Animation Keyframes */
@keyframes slideLeft {
    0%     { left: 100%; }
    100%    { left: calc(100% - 295px); }
}
/***********************/

#helpMsgPop {
    position: absolute;
    right: 13px;
    top: 500px;
    height: 50px;
    width: 50px;
    z-index: -10;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    white-space: pre-line;
}


#canvas {
    z-index: -25;
}
#tmp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
    z-index: 0;
}

#notifDiv {
    position: absolute;
    z-index: 75;
    top: -35;
    width: 100vw;
    height: 35px;
    text-align: center;
    padding-top: 4px;
}
    #notifSpan {
        color: white;
        font-size: 20px;
        text-shadow: -1px -1px 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
    }

#textDiv {
    position: absolute;
    color: white;
    z-index: 50;
}
    #textInput {
        background-color: transparent;
        border: none;
        width: 500px;
    }
    #textInput:focus {
        outline: none;
    }
#codeDiv {
    position: absolute;
    color: white;
    z-index: 50;
}
    #codeInput {
        background-color: transparent;
        border: none;
        min-width: 250px;
        min-height: 150px;
        font-family: 'Source Code Pro', monospace;
    }
    #codeInput:focus {
        outline: none;
    }

#minimap {
    position: absolute;
    right: 83px;
    top: 0;
    z-index: 40;
    width: 205px;
    height: 155px;
    border-left: 5px solid rgb(13, 66, 96);
    border-bottom: 5px solid rgb(13, 66, 96);
    border-bottom-left-radius: 10px;
    background: black;
    /* Slide Animation */
    animation-name: slideLeftMinimap;
    animation-duration: 1s;
}
#viewbox {
    position: absolute;
    right: 83px;
    top: 0;
    z-index: 45;
    width: 200px;
    height: 150px;
    /* Slide Animation */
    animation-name: slideLeftMinimap;
    animation-duration: 1s;
}
#minimapBtn {
    position: absolute;
    top: 0;
    right: 288px;
    z-index: 40;
    color: white;
    background: rgb(13, 66, 96);
    border-bottom-left-radius: 15px;
    padding: 5px 3px 6px 9px;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    /* Slide Animation */
    animation-name: slideLeftMinimapBtn;
    animation-duration: 1s;
    cursor: pointer;
}

@keyframes slideLeftMinimap {
    0%      { right: -200px; }
    100%    { right:   83px; }
}
@keyframes slideLeftMinimapBtn {
    0%      { right:    0px; }
    100%    { right:  288px; }
}
