

#popMain {
    z-index: 110;
    width: 350px;
    height: 150px;
    position: fixed;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    background: white;
    border-radius: 3px;
    /*opacity: 1;*/
}
#popBack {
    background: rgb(168, 168, 168);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    /*opacity: 0.5;*/
}
    #popText {
        display: block;
        text-align: center;
        height: 100px;
        padding: 15px;
        padding-top: 30px;
        white-space: pre-line;
        font-size: 16px;
    }
    #popConfBtn {

    }
    #popCancBtn {

    }
    .popBtn {
        display: inline-block;
        width: 35%;
        margin-left: 10%;
        color: black;
        background: white;
        border-radius: 3px;
        border: 1px solid rgb(198, 198, 198);
    }
        .popBtn:hover {
            color: white;
            background: rgb(168, 168, 168);
        }
        .popBtn:focus {
            outline: none;
        }
