#canvToolbar {
    position: absolute;
    right: 0;
    top: 0;
    height: 500px;
    width: 83px;
    background: white;
    border-left: 5px solid rgb(13, 66, 96);
    border-bottom: 5px solid rgb(13, 66, 96);
    border-bottom-left-radius: 25px;
    /* Slide Animation */
    animation-name: toolSlide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Animation Keyframes */
@keyframes toolSlide {
    0%     { right: -100px; }
    100%    { right: 0; }
}
/***********************/
    #toolSep {
        width: 40%;
        margin: 5px 30%;
        border-top: 1px solid rgb(198, 198, 198);
    }
    #toolLobby {
        color: black;
        text-align: center;
    }
        #toolLobby h4, h6 {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    #toolBtns {
        margin-top: 10px;
    }
        .toolRow {
            display: block;
            width: 80px;
            padding-left: 5px;
            margin-bottom: 4px;
        }
            .toolBtn {
                color: white;
                background: rgb(198, 198, 198);
                text-align: center;
                display: inline-block;
                width: 32px;
                height: 32px;
                border: 1px solid black;
                border-radius: 8px;
            }
                .toolBtn:hover {
                    box-shadow: 0px 0px 2px black;
                }
                .toolBtn i {
                    line-height: 30px;
                    vertical-align: middle;
                }

        .activeBtn {
            background: rgb(5, 187, 160);
            color: black;
            box-shadow: 0px 0px 2px black;
        }
    #toolColor {
        display: block;
        width: 80px;
        margin-top: 5px;
    }
        #toolColorBox {
            height: 40px;
            width: 50%;
            margin-left: 25%;
            background: white;
            border: 1px solid black;
        }
        #color {
            font-family: 'Source Code Pro', monospace;
            width: 80%;
            font-size: 12px;
            text-align: center;
            color: white;
            text-shadow: -1px -1px 0px black, 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
            margin-top: 5px;
            margin-left: 10%;
        }
    #pickerDiv {
        position: absolute;
        right: 90;
        bottom: 150;
        background: rgb(198, 198, 198);
        border: 2px solid rgb(13, 66, 96);
        border-radius: 15px;
        width: 200px;
    }
    #toolSize {
        width: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    #textSize {
        width: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
    }
        .toolSizeLabel {
            display: block;
            text-align: center;
            width: 60px;
            margin-left: 4px;
            margin-bottom: 5px;
            font-size: 12px;
            color: black;
        }
        .toolSizeBox {
            width: 30px;
            display: inline-block;
            text-align: center;
        }
        input.toolSizeSlide {
            width: 35px;
            display: inline-block;
        }
    .toolBotLabel {
        color: black;
        text-align: center;
    }
    .toolBotDiv {
        margin-top: 5px;
        font-weight: bold;
    }
        .toolBotBtn {
            width: 90%;
            margin-left: 5%;
            background: white;
            border: 1px solid rgb(168, 168, 168);
            border-radius: 3px;
            color: black;
        }
            .toolBotBtn:hover {
                color: white;
                background: rgb(198, 198, 198);
            }
            .toolBotBtn:focus {
                outline: 0;
            }

#fileInput {
    position: absolute;
    right: 90;
    top: 350;
    background: rgb(50, 50, 50);
    border: 2px solid rgb(13, 66, 96);
    border-radius: 15px;
    text-align: center;
}
    #fileLabel {
        color: white;
        text-shadow: -1px -1px 0px black, 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
        margin-bottom: 10px;
        display: block;
    }
    #canvFile {
        color: white;
    }
    #fileDrop {
        height: 100px;
        width: 100px;
        background: blue;
        color: white;
    }
    #fileSubBtn {
        height: 50px;
        width: 100px;
        background: rgb(33, 33, 33);
        color: white;
        border-radius: 25px;
    }
